{% load compile_static %}
{% load static %}
{% load staticfiles %}

<html>

    <head>
        <title>500 | Marshall Bradley - Software Developer</title>

        <!-- STYLES -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "scss/styles.scss"|compile %}" />

        <!-- SCRIPTS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body>

        <div id="error">
            <h1>500</h1>
            <ul id="home">
                <a href="http://www.marshallbradley.com"><i class="fa fa-home"></i></a>
            </ul>
        </div>

    </body>
</html>