{% load compile_static %}
{% load static %}
{% load staticfiles %}

<html>

    <head>
        <title>Marshall Bradley - Software Developer</title>

        <!-- STYLES -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "scss/styles.scss"|compile %}" />
        <link rel="stylesheet" href="{% static "scss/mobile.scss"|compile %}" />

        <!-- SCRIPTS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/homescript.js"></script>
    </head>

    <body>

        <div id="background">
            <div id="code"></div>
        </div>

        <div id="middle-box">
            <div id="visible">
                <h1 id="hide">Marshall Bradley</h1>
                <h2>Software Developer</h2>

                <ul id="icons">

                    <a href="https://github.com/marshallb93"><i class="fa fa-github-square"></i></a>
                    <a href="https://uk.linkedin.com/in/marshallbradley93"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://www.facebook.com/marshallbradley93"><i class="fa fa-facebook-square"></i></a>
                    <a href="/static/resume.pdf"><i class="fa fa-file-pdf-o"></i></a>
                    <a href="mailto:marshallbradley93@gmail.com"><i class="fa fa-envelope"></i></a>

                </ul>
            </div>

            <div id="hidden">
                <i id="show" class="fa fa-times"></i>
                <p>
                    Hi there! I'm Marshall, a 4th year Informatics (a fancy name for Computer Science) student at the
                    University of Edinburgh. I like creating all sorts of things (and sometimes taking them apart...) but
                    recently I've been drawn to the fields of Software Engineering, Hardware and Computer Security.
                    <br>
                    <br>
                    When I'm not frantically typing away at a keyboard I can often be found clinging to a rock somewhere with
                    Edinburgh's mountaineering club or slack-lining in the "Meadows" (Edinburgh's central park). I'm also
                    an avid board game collector (or compulsive hoarder depending who you ask) and love to cook when I
                    have the time.
                    <br>
                    <br>
                    If you're interested in me or what I do, please don't hesitate to shoot me an email (marshallbradley93@gmail.com).
                </p>
            </div>

        </div>
    </body>
</html>