/* VARIABLES */
/* MIXINS */
/* STYLES */
@media screen and (max-width: 235px), screen and (max-height: 235px) {
  .middle-box-class h1 {
    font-size: 12px !important; }
  .middle-box-class h2 {
    font-size: 9px !important; }
  .middle-box-class .icons {
    font-size: 20px !important; } }
body {
  height: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #4F5866;
  overflow: hidden; }
  body #error h1 {
    position: relative;
    top: -40%;
    -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);
    color: white;
    text-shadow: 3px 3px 0px #4F5866, 5px 5px 0px #717F93;
    font: 20vw "Lucida Console", monospace;
    font-weight: bold; }
  body #error #home {
    padding-right: 0;
    margin-top: 6vh;
    font-size: 12.8vmin; }
    body #error #home .fa {
      color: #717F93;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
    body #error #home .fa:hover {
      color: white;
      transform: scale(1.5); }
  body #background {
    padding-left: 1vw;
    bottom: 1.5em;
    position: absolute;
    text-align: left;
    z-index: -1;
    position: fixed; }
    body #background #code {
      color: transparent;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      font-family: "Lucida Console", monospace; }
  body #hidden-middle-box {
    display: none; }
  body .middle-box-class {
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    min-height: 80px;
    min-width: 130px;
    margin: 20px;
    border-radius: 25px;
    padding: 5.2vmin;
    display: inline-block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.65); }
    body .middle-box-class #hidden {
      display: none;
      text-align: right;
      height: 100%; }
      body .middle-box-class #hidden i {
        display: inline-block; }
      body .middle-box-class #hidden i:hover {
        color: #BB0706;
        cursor: hand;
        cursor: pointer; }
      body .middle-box-class #hidden .bio {
        text-align: left;
        overflow: hidden; }
        body .middle-box-class #hidden .bio p {
          margin: 0;
          word-wrap: break-word;
          max-width: 100%;
          max-height: 90%;
          overflow-y: auto; }
    body .middle-box-class h1 {
      white-space: nowrap;
      font-size: 4em;
      font-size: 8vmin;
      display: inline-block;
      background: #4F5866;
      margin: auto;
      color: #C1C5C9;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
      padding: 10px;
      border-radius: 10px; }
    body .middle-box-class h1:hover {
      cursor: hand;
      cursor: pointer;
      background: #717F93; }
    body .middle-box-class h1:active {
      border-style: inset;
      margin-bottom: -6px;
      margin-left: 3px; }
    body .middle-box-class h2 {
      color: #4F5866;
      font-size: 2.4em;
      font-size: 4.8vmin;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      position: relative;
      font-style: italic; }
    body .middle-box-class h3 {
      color: #4F5866;
      font-size: 6.8vmin;
      margin-top: 0;
      margin-bottom: 0; }
    body .middle-box-class .icons {
      padding-left: 0;
      margin-top: 6vh;
      margin-bottom: 6vh;
      font-size: 12vmin;
      white-space: nowrap;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000; }
      body .middle-box-class .icons .fa {
        color: #4F5866;
        margin-right: 0.1em;
        margin-left: 0.1em;
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out; }
      body .middle-box-class .icons .fa:hover {
        transform: scale(1.3); }
      body .middle-box-class .icons .fa-github-square:hover {
        color: black; }
      body .middle-box-class .icons .fa-linkedin-square:hover {
        color: #3B579D; }
      body .middle-box-class .icons .fa-facebook-square:hover {
        color: #3B579D; }
      body .middle-box-class .icons .fa-user:hover {
        color: #BB0706; }
      body .middle-box-class .icons .fa-envelope:hover {
        color: #FCC21B; }

/* ANIMATIONS */
