/* VARIABLES */

$font: 'Montserrat', sans-serif;
$console-font: 'Lucida Console', monospace;
$fallback-title-size: 4em;
$title-size: 7vmin;
$background-grey: #4F5866;

/* MIXINS */

@mixin vertical-align($height) {
  position: relative;
  top: $height;
  -webkit-transform: translateY(-$height);
  -ms-transform: translateY(-$height);
  transform: translateY(-$height);
}

/* STYLES */

body {

    text-align: center;
    font-family: $font;
    margin: 0px;
    background-color: $background-grey;
    overflow: hidden;

    #background {

        padding-left: 1vw;
        position: absolute;
        text-align: left;
        z-index: -1;
        position: fixed;
        bottom: 0;

        #code {
            color: transparent;
            text-shadow: 0 0 5px rgba(255,255,255,0.5);
            font-family: $console-font;
        }
    }

    #middle-box {

        background-filter: blur(5px);
        @include vertical-align(40%);
        border-radius: 25px;
        padding: 20px;
        width: 60%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        background: rgba(255,255,255,0.7);

        h1 {
            font-size: $fallback-title-size;
            font-size: $title-size;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
        }

        h2 {
            font-size: $fallback-title-size * 0.75;
            font-size: $title-size * 0.75;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
        }

        #icons {
            -webkit-padding-start: 0px;
            margin-top: 6vh;
            .fa {
                color: black;
                margin-right: 10px;

            }

            .fa:hover {
                color: $background-grey;
            }
        }
    }
}